{% extends 'inc/base.html' %}
{% block title %}HTTP Request Data{% endblock %}
{% block head %}
{{ super() }}
<script src="/static/js/ajax.js"></script>
{% endblock %}
{% block content %}
<div id="requests">
  <h1>HTTP Request Data</h1>
  <div id="table">
    <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th class="fixed-width-20"></th>
          <th class="fixed-width-20 text-center"><input type="checkbox" /></th>
          <th>Time</th>
          <th class="text-center">Result</th>
          <th>User</th>
          <th class="fixed-width-240">Action</th>
          <th>Callback type</th>
          <th class="fixed-width-150 text-right">Actions</th>
        </tr>
      </thead>

      <tbody id="request-table-body"></tbody>


    </table>
  </div>
  <div id="pagination">
    <button id="prev-page">Previous</button>
    <span id="page-numbers"></span>
    <button id="next-page">Next</button>
  </div>
  <!-- The Modal -->
  <div id="detailModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id="modal-text">Header details will appear here.</p>
    </div>
  </div>
</div>
{% endblock %}
