<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <script type="module" src="/static/js/main.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div id="navbar" class="navbar">
        <div id="navbar-title">
            <a href="/"><i class="fas fa-home mr-1"></i>BeSquared</a>
        </div>
        <div id="navbar-links">
            <a href="/requests">Requests</a>
            <a href="/users"><i class="fa-regular fa-user"></i></a>
            <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </div>
    <div id="container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            <p>&copy; Copyright 2023 BeSquared</p>
            <p id="footnote"><a href="https://coolors.co/161316-437f97-dddbcb-f5f1e3-2a2e45" target="_blank">coolors
                    palette</a></p>
            {% endblock %}
        </div>
    </div>
</body>

</html>
