[
    {
        "name": "Boodschappen",
        "description": "Verkeerde rekening",
        "condition": "ALL",
        "action": {
            "events": [
                "PAYMENT_CREATED",
                "MUTATION_CREATED"
            ],
            "type": "CREATE_REQUEST_FROM_PAYMENT",
            "data": {
                "request_from": {
                    "name": "Boodschappen",
                    "iban": "NL12ABNA000123456"
                },
                "description": "Correctie: Boodschappen",
                "append_original_description": true
            }
        },
        "rules": [
            {
                "type": "EQUALS",
                "value": "EUR",
                "property": "amount.currency",
                "description": "Payment currency must be EUR"
            },
            {
                "type": "IS_NEGATIVE",
                "property": "amount.value",
                "description": "Payment amount must be negative"
            },
            {
                "type": "DOES_NOT_CONTAIN",
                "value": [
                    "NL12ABNA000123456"
                ],
                "property": "alias.iban",
                "description": "Payment must not be from the 'Boodschappen' account"
            },
            {
                "condition": "ANY",
                "rules": [
                    {
                        "type": "CONTAINS",
                        "value": [
                            "Albert Heijn",
                            "Lidl",
                            "Jumbo",
                            "Bakkerij",
                            "Kruidvat",
                            "Kaashandel",
                            "Thuisbezorgd.nl",
                            "Coop",
                            "Aldi",
                            "Sligro",
                            "Spar",
                            "Plus"
                        ],
                        "property": "counterparty_alias.display_name",
                        "description": "Payment must be from a grocery store"
                    },
                    {
                        "type": "CONTAINS",
                        "value": [
                            "bunq-test"
                        ],
                        "property": "description",
                        "description": "Description contains the word 'bunq-test'"
                    }
                ]
            }
        ]
    }
]
